$primary-color: #ee3524;
$primary-background-color: #f8f9fa;


$thin-black-boarder: 2px solid #dadce0;

//Cards
$card-boarder: $thin-black-boarder;


$grey-box-shadow: 0.1rem 0.4rem 1rem 0.1rem #808080;


$content-box-shadow: 4px 4px 20px 0px #c7c7c7;
