<div class="main-content">
    <div class="logo-content">
        <img class="logo" src="assets/images/company-logo.svg" alt="">
    </div>
    <div class="forgot-password-content">   
        <form class="content" [formGroup]="setPasswordForm">
            <label class="forgot-label">Set new password</label>
            <div class="password-requirements">
                <label>Your password must contain atleast:</label>
                <ul>
                    <li>8 charactes</li>
                    <li>one alphabet charactes</li>
                    <li>one uppercase</li>
                    <li>one numeric charactes</li>
                    <li>one special charactes</li>
                </ul>
            </div>
            <div class="input-field">
                <label>New Password</label>
                <input [type]= "hidePw ? 'password' : 'text'" formControlName = 'password' placeholder="Enter your new password">
                <i (click) = "ToogleEyePw()" [ngClass]="!hidePw ? 'fa-eye' : 'fa-eye-slash '" class="fa-regular"></i>
                <span class="text-danger" *ngIf="setPasswordForm.controls['password'].invalid  && (setPasswordForm.controls['password'].dirty || setPasswordForm.controls['password'].touched)">
                    {{GetErrorMessage('password')}}
                </span>
            </div>

            <div class="input-field">
                <label>Confirm New Password</label>
                <input [type]= "hideCfPw ? 'password' : 'text'" formControlName = 'confirmPassword' placeholder="Re-type your new password to confirm">
                <i (click) = "ToogleEyeCfPw()" [ngClass]="!hideCfPw ? 'fa-eye' : 'fa-eye-slash '" class="fa-regular"></i>
                <span class="text-danger" *ngIf="setPasswordForm.controls['confirmPassword'].invalid  && (setPasswordForm.controls['confirmPassword'].dirty || setPasswordForm.controls['confirmPassword'].touched) && setPasswordForm.controls['confirmPassword'].errors?.['required']">
                    Re-type your password to confirm
                </span>
                <span class="text-danger" *ngIf="setPasswordForm.errors && (setPasswordForm.controls['password'].dirty || setPasswordForm.controls['password'].touched) && setPasswordForm.controls['confirmPassword'].valid && (setPasswordForm.controls['confirmPassword'].dirty || setPasswordForm.controls['confirmPassword'].touched)">
                    {{setPasswordForm.errors['pwNotMatch']}}
                </span>
            </div>
            <span class="text-danger" *ngIf="errorMessage">
                The token has been expired. Try Again!
            </span>
            <button (click)="ResetPassword()" class="reset-btn custom-button">Reset your password</button>
            <button routerLink="/SignIn" class="signin-btn custom-button"><i class="fa-regular fa-arrow-left"></i> Back to Sign In</button>
        </form>
    </div>
    <div class="blank-content"></div>
</div>