<div class="main-content">
    <div class="logo-content">
        <img class="logo" src="assets/images/company-logo.svg" alt="">
    </div>
    <div class="forgot-password-content">   
        <form class="content" [formGroup]="forgotPasswordForm">
            <label class="forgot-label">Forgot Password?</label>
            <label class="instruction-label">No worries. We'll send you reset instructions.</label>
            <div class="input-field">
                <label class="email-label">Email Address</label>
                <input class="email-field" type="text" placeholder="Enter your email" formControlName ="email">
                <span class="text-danger" *ngIf="forgotPasswordForm.controls['email'].invalid  && (forgotPasswordForm.controls['email'].dirty || forgotPasswordForm.controls['email'].touched)">
                    {{GetErrorMessage('email')}}
                </span>
            </div>
            <span class="text-danger errorMesssage" *ngIf="errorMesssage">
                {{errorMesssage}}
            </span>
            <button type="button" (click)="ResetPassword()" class="reset-btn custom-button">Reset your password</button>
            <button routerLink="/SignIn" class="signin-btn custom-button"><i class="fa-regular fa-arrow-left"></i> Back to Sign In</button>
        </form>
    </div>
    <div class="blank-content"></div>
</div>